# Entornos virtuales
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de distribución/empaquetado
build/
dist/
*.egg-info/
*.egg

# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de credenciales y configuración local
.env

# Datos y artefactos descargados
data/
mlruns/
